.hero-container {
    display: flex;
    flex-direction: column;
    

    height: 1000px;

    background-image: url(../hero/S__339173388_0.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    background-color: rgb(142, 142, 142);
    background-blend-mode: multiply;


    color: white;

    position: relative;
}

.hero-title {
    font-size: 80px;
    font-weight: bold;


    margin-bottom: 70px;

    color: rgb(255, 254, 234);

    margin-left: 8%;

    width: 40%;

    
}

.liner {
    color: rgb(161, 227, 167);
}

.hero-zero-sentence {
     font-family: "Zen Kurenaido", sans-serif;
  font-weight: 900;
  font-style: normal;

  font-size: 30px;

    margin-left: 8%;
    margin-top: 18%;
    margin-bottom: 30px;

}

.hero-first-sentence {
    font-weight: bold;
    margin-top: 30px;

    font-size: 20px;
        margin-left: 8%;



}

.hero-second-sentence {
    font-weight: bold;
    margin-top: 30px;
    font-size: 20px;
        margin-left: 8%;


  

}

.hero-third-sentence {
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
        margin-left: 8%;


 
}




.body-title {
    text-align: center;

    padding-top: 100px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 95, 80);
}

.body-subtitle {
    text-align: center;
    padding-top: 10px;

    font-weight: bold;
    font-size: 30px;
} 


@media (max-width: 768px) {
    .hero-container {
        background-attachment: scroll; /* ← fixed をオフ！ */
    }



    .hero-first-sentence,.hero-second-sentence,.hero-third-sentence {
        margin: 15px auto;
    }
}