.whole-section {
    width: 50%;
}

.t-container {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}



.heart-icon {
    width: 20px;
}

.heart-subtitle {
   
    font-weight: bold;
    color: rgb(255, 95, 80);

    padding-left: 10px;
}

.heart-title {
    font-size: 25px;

    font-weight: bold;
    text-align: center;

    padding-top: 20px;

    padding-bottom: 100px;
}

.check-container {
    display: flex;
    flex-direction: row;

    align-items: center;

    padding-bottom: 50px;

    

}

.check-subtitle {
    margin-bottom: 160px;
}

.check-icon {
    width: 20px;

    padding-right: 10px;
}

.check-title {
    font-size: 20px;
    font-weight: bold;
    
}

.whole-second-section {
    background-color: rgb(255, 249, 242);

    padding-top: 100px;
    padding-bottom: 50px;

    margin-bottom: 200px;

}

.result-title {
    display: flex;
    flex-direction: row;

    align-items: center;

     width: 80%;
    margin: 0 auto;

}

.result-text {
    font-weight: bold;

    font-size: 20px;
}

.result-container {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;
   
    margin-top: 80px;
    margin-bottom: 80px;
}

.result-second-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    min-width: 200px;
    max-width: 260px;
    text-align: center;

   

    padding: 50px;

}



.heart-block {
    width: 44px;

    margin-bottom: 30px;

}


.stimul {
    font-size: 20px;
    font-weight: bold;
}

.stim-ex {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    background-color: rgb(255, 249, 242);
    

    border-radius: 25px;
    padding-top: 40px;
    padding-bottom: 50px;

    width: 40%;
}

.stim-text {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;

    margin-bottom: 15px;
}

.sun-icon {
    width: 50px;
    margin-bottom: 10px;
}

.sun-text {
    font-size: 20px;
    font-weight: bold;

    margin-bottom: 30px;
}


.stim-container {
    display: flex;
    flex-direction: row;

    justify-content: center;


    gap: 5%;
}

.point-text {
    font-weight: bold;
}




@media (max-width: 600px) {

    .whole-section {

        width: 70%;
    }
    .result-container{
        display: flex;
        flex-direction: column;
    }


    .stim-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

}



.stim-ex {
    width: 100%;

    margin-bottom: 30px;
}

.check-subtitle {
    text-align: center;
}
}
